{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
    <title>{{ booksummary.original_title }} / Книга</title>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="page-header">
          <h2>{{ booksummary.original_title }}<br class="visible-xs"> <small>{% for s in series %}<a href="{{ s.series.get_absolute_url }}"> {{ s.series.title }}</a> #{{ s.position }} {% endfor %}</small></h2>  {# TODO дооформить #}
        </div>
        <div class="col-md-13 col-sm-16 col-xs-16">
          <div class="col-md-5 col-sm-5 col-xs-7">
            {% for book in books|slice:":1" %}
              {% thumbnail book.cover "200" as im %}
                <img class="cover" src="{{ im.url }}" > {# colorspace="GRAY" #}
              {% empty %}
                <img class="cover" src="http://placehold.it/200x300">
              {% endthumbnail %}
            {% endfor %}
              <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4"><i class="material-icons md-18"><a href="/" data-toggle="tooltip" data-placement="top" title="Комментировать">chat_bubble</a></i></div>
                <div class="col-md-4 col-sm-4 col-xs-4"><i class="material-icons md-18"><a data-toggle="tooltip" data-placement="top" title="Написать обзор">create</a></i></div>
                <div class="col-md-4 col-sm-4 col-xs-4"><i class="material-icons md-18"><a data-toggle="tooltip" data-placement="top" title="В избранное">favorite</a></i></div>
                <div class="col-md-4 col-sm-4 col-xs-4"><i class="material-icons md-18"><a data-toggle="tooltip" data-placement="top" title="Редактировать">settings</a></i></div>
              </div>
              <div class="row hidden-xs">
                <div class="col-md-15 col-sm-16">
                  <div class="list-action border blue lighten-5 blue-border lighten-4-border text-bold mb10">
                    <span><i class="glyphicon glyphicon-plus"></i> Добавить в список</span><div class="pull-right t-padding"> <a role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="glyphicon glyphicon-triangle-bottom"></i></a></div>
                    <div class="collapse bg mb10" id="collapseExample">
                      <span>Запланировано</span>
                      <span>Читаю</span>
                      <span>Перечитываю</span>
                      <span>Отложено</span>
                      <span>Брошено</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <input title="" id="input-id2" type="number" class="rating">
                </div>
              </div>
          </div>
          <div class="col-md-11 col-sm-5 col-xs-9">  {# FIXME косяк с блоком, два маленьких должны быть в одном большом.. #}
            <div class="row">
              <div class="col-md-8">
              <div class="title grey lighten-3 text-uppercase text-bold">
                <span>Информация</span>
              </div>
              <div class="small">
                <p><span class="grey-text darken-1">ISBN:</span> {% for book in books|slice:":1" %}{{ book.isbn }}{% endfor %} <a>и др.</a></p>
                <p><span class="grey-text">ISBN13:</span>  {% for book in books|slice:":1" %}{{ book.isbn13 }}{% endfor %} <a>и др.</a></p>
                <p><span class="grey-text">ASIN:</span> {% for book in books|slice:":1" %}{{ book.asin }}{% endfor %} <a>и др.</a></p>
                <p><span class="grey-text">Языки:</span> {% for l in lang %}{{ l.get_language_display }}, {% endfor %} <a>и др.</a></p> {# TODO придумать как это дело выводить правильно #}
                <p><span class="grey-text"><abbr title="В различных изданиях и на разных языках количество страниц отличается">Страниц:</abbr></span>{% if num_pages.min %} от {{ num_pages.min }} до {{ num_pages.max }}{% else %} Неизвестно{% endif %}</p>
                <p><span class="grey-text">Форматы:</span> {% for book in books|slice:":2" %}{{ book.get_book_format_display }}, {% endfor %} <a>и др.</a></p>
                <p><span class="grey-text">Дата первой публикации:</span> {{ booksummary.original_publication_date }}</p>
                <p><span class="grey-text">Рейтинг:</span> {{ booksummary.get_content_rating_display }}</p>
              </div>
            </div>
            <div class="col-md-8">
            <div class="title grey lighten-3 text-uppercase text-bold">
              <span>Рейтинг</span>
            </div>
            <div>
              <div style="display: inline-block; float: left"><input title="" id="input-id" type="number" value="2.73"></div>
              <div class="book-rating">2.73</div>
              <div class="xsmall" style="margin-top: -10px; margin-left: 20px; float: left">хорошо</div> {# FIXME #}
            </div>
            <div class="title grey lighten-3 text-uppercase text-bold">
              <span>Жанры</span>
            </div>
            <div class="genres">
              <p><a class="dotted">Fantasy</a> <a>Action</a> <a>Epic</a> <a>Heroic</a> <a>Detective</a> <a>Cyberpunk</a> <a>Space</a> <a>Humor</a></p>
            </div>
            </div>
            </div>
          </div>
          <div class="col-md-11 pull-right col-sm-16 col-xs-16">
            <div class="title grey lighten-3 text-uppercase text-bold">
              <span>Описание</span>
            </div>
            <p>{{ booksummary.description }}</p>
          </div>
        <div class="row">
          <div class="col-md-16">
            <div class="col-md-8 col-sm-8 col-xs-16">
              <div class="title grey lighten-3 text-uppercase text-bold">
                <span>Связанное</span>
              </div>
              <div class="col-md-16 col-sm-16 col-xs-16">
                <div class="row p-history">
                    <img src="https://d.gr-assets.com/books/1423301342m/24859405.jpg" width="40px">
                      <div class="text-bold"><a>Слишком много кошмаров</a></div>
                      <div class="notice"><small>Предыстория</small></div>
                      <div class="notice"><a>кнопка</a></div>
                </div>
                <div class="row p-history">
                  <div class="col-md-2 col-sm-2 col-xs-2">
                    <img src="https://d.gr-assets.com/books/1423301342m/24859405.jpg" width="40px">
                  </div>
                  <div class="col-md-14 col-sm-14 col-xs-14 line-height-20">
                    <div class="row">
                      <div class="col-md-16 col-sm-16 col-xs-16 text-bold"><a>Слишком много кошмаров</a></div>
                    </div>
                    <div class="row">
                      <div class="col-md-16 col-sm-16 col-xs-16 notice"><small>Продолжение</small></div>
                    </div>
                    <div class="row">
                      <div class="col-md-16 col-sm-16 col-xs-16 notice"><a>кнопка</a></div>
                    </div>
                  </div>
                </div>
                <div class="row p-history">
                  <div class="col-md-2 col-sm-2 col-xs-2">
                    <img src="https://d.gr-assets.com/books/1423301342m/24859405.jpg" width="40px">
                  </div>
                  <div class="col-md-14 col-sm-14 col-xs-14 line-height-20">
                    <div class="row">
                      <div class="col-md-16 col-sm-16 col-xs-16 text-bold"><a>Слишком много кошмаров</a></div>
                    </div>
                    <div class="row">
                      <div class="col-md-16 col-sm-16 col-xs-16 notice"><small>Альтернативная история</small></div>
                    </div>
                    <div class="row">
                      <div class="col-md-16 col-sm-16 col-xs-16 notice"><a>кнопка</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-16">
              <div class="title grey lighten-3 text-uppercase text-bold">
                <span>Авторы</span>
              </div>
              <div class="col-md-16 col-sm-16 col-xs-16">
                <div class="row">
                {% for author in authors %}
                  <div class="row p-history">
                      <div class="col-md-2 col-sm-2 col-xs-2">
                        {% for photo in author.author.authorphoto_set.all %}{% thumbnail photo "40" as photo %}<a href="{{ author.author.get_absolute_url }}"><img src="{{ photo.url }}" ></a>{% endthumbnail %}{% endfor %}  {# FIXME логику вынести во вьюху, тут дубли запросов #}
                      </div>
                      <div class="col-md-14 col-sm-14 col-xs-14 line-height-20">
                          <div class="row">
                              <div class="text-bold"><a href="{{ author.author.get_absolute_url }}">{{ author.author.name }}</a></div>
                          </div>
                          <div class="row">
                              <div class="notice">{{ author.role }}</div>
                          </div>
                      </div>
                  </div>
                {% endfor %}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="title grey lighten-3 text-uppercase text-bold">
            <span>Отзывы</span>
          </div>
            <div class="comment">
              <div class="comment-img"><img src="https://placehold.it/45x45" alt=""></div>
              <div class="comment-header">
                <div class="name">Test Name</div>
                <div class="date">Today</div>
                <div class="review">Review</div>
              </div>
              <div class="text">{% lorem %}</div>
            </div>
        </div>

        </div>
        <div class="col-md-3 visible-md visible-lg"> {# TODO доделать мобильную версию #}
            <div class="title grey lighten-3 text-uppercase text-bold green-border">
              <span>У Друзей</span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <img class="center-block" src="http://placehold.it/45x45">
            </div>
            <div class="title grey lighten-3 text-uppercase text-bold pink-border">
              <span>В Избранном</span>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-5">
              <img class="center-block" src="http://placehold.it/45x45">
            </div>
            <div class="col-md-5 col-sm-5 col-xs-5">
              <img class="center-block" src="http://placehold.it/45x45">
            </div>
            <div class="col-md-5 col-sm-5 col-xs-5">
              <img class="center-block" src="http://placehold.it/45x45">
            </div>
            <div class="title grey lighten-3 text-uppercase text-bold red-border">
              <span>Клубы</span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <img class="center-block mb10" src="http://placehold.it/30x30">
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <img class="center-block mb10" src="http://placehold.it/30x30">
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <img class="center-block mb10" src="http://placehold.it/30x30">
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <img class="center-block mb10" src="http://placehold.it/30x30">
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <img class="center-block mb10" src="http://placehold.it/30x30">
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <img class="center-block mb10" src="http://placehold.it/30x30">
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <img class="center-block mb10" src="http://placehold.it/30x30">
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <img class="center-block mb10" src="http://placehold.it/30x30">
            </div>
            <div class="title grey lighten-3 text-uppercase text-bold purple-border">
              <span>на других сайтах</span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              LiveLib
              GoodReads
              Imhonet
              LibraryThing
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% load staticfiles %}
  <script src="{% static "js/star-rating.js" %}"></script>
  <script>
    $("#input-id").rating({min:0, max:5, step:1, size:'sm',
        showClear:false,
        animate:false,
        displayOnly: true,
        showCaption: false});

    $("#input-id2").rating({min:0, max:5, step:1, size:'xs',
        showClear:false,
        animate:false,
        starCaptionClasses: {
            1: 'red-text xsmall text-bold',
            2: 'orange-text xsmall text-bold',
            3: 'blue-text darken-3-text xsmall text-bold',
            4: 'light-green-text xsmall text-bold',
            5: 'green-text darken-3-text xsmall text-bold'
        },
        starCaptions: {
            1: 'Ужасно',
            2: 'Плохо',
            3: 'Нормально',
            4: 'Хорошо',
            5: 'Отлично'
        },
        clearCaption: ''});
    </script>
{% endblock %}